apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
    tier: frontend
  
spec:
  selector:
    matchLabels:
      env: production
  template:
    metadata:
      name: httpdpod
      labels:
        env: production
    spec:
      containers:
      - name: httpd
        image: httpd:latest
  replicas: 2