apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  kubernetes.io/change-cause: kubectl apply --filename=deployment.yaml --record=true
  labels:
    app: myapp
    tier: frontend
  
spec:
  selector:
    matchLabels:
      env: production
  template:
    metadata:
      name: httpdpod
      labels:
        env: production
    spec:
      containers:
      - name: nginx
        image: nginx:latest
  replicas: 2