apiVersion: v1 
kind: Service
metadata:
  name: myapp-svc
spec:
  type: NodePort
  ports:
    - nodePort: 32000 #automatical allocated btw range
      port: 80 #This is mandatory****
      targetPort: 80 #same as port if not mentioned
  selector:
    matchLabels:
     env: production